<main>

  <section class="presentation">

    <article class="text-img">

      <div class="title-content">
        <h2>Creadore de Contenido</h2>
        <h2 class="color-orange">Pro model</h2>
        <h2>Deseos</h2>
        <h2 class="color-orange">Markeplace</h2>
        <h2>Tu lista, Tu coleccion</h2>
      </div>
      <div class="img-content">
      <!-- <a href="#">
          <img src="" alt="">
        </a>
        colocar cuando ya se tenga la imagen -->
      </div>

    </article> <!-- end -- text-img article-->

    <article class="text-content-presentation">

      <div class="article-1">
        <h3>Que es</h3>
        <p>
        Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun  </p>
      </div>

      <div class="article-2">
        <h3>¿Deseas ser Creador?</h3>
        <p>Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun  </p>
      </div>

    </article> <!-- end -- text-content-presentation article-->


  </section>  <!-- end -- presentation part 1 secction-->



  <section class="colletion-content">

    <article class="container-visitante">

      <div class="icons-text-visitante">

        <div class="icons-visitante">
          <a href="#">
            <img src="../../../../../assets/icono-logo/store-svgrepo-com.svg" alt="store">
          </a>
          <a href="#">
            <img src="../../../../../assets/icono-logo/Flame_Mesa de trabajo 1 6.svg" alt="flame">
          </a>
          <a href="#">
             <img src="../../../../../assets/icono-logo/folder-svgrepo-com.svg" alt="folder">
          </a>
        </div> <!--end icons div-->
        <div class="text-visitante">
          <h2>Sobre el Visitante</h2>
          <p>Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorep</p>
        </div> <!--end text-visitante div-->

      </div> <!--end icon-text-visitante div-->

      <div class="img-visitante-grey">
        <!-- <a href="#">
          <img src="" alt="">
        </a>
        colocar cuando ya se tenga la imagen -->
      </div> <!--end icon-text-visitante div-->

    </article>  <!--end container-visitante secction-->

    <article class="container-colletion-img">

      <div class="title-coleccion">
        <h2>Tu Colección</h2>
      </div> <!--end title-coleccion div-->

      <div class="images-girls">
        <a href="#">
          <img src="../../../../../assets/fotos/EY1_3727-Edit 1.png" alt="">
          <p>Christina</p>
        </a>
        <a href="#">
          <img src="../../../../../assets/fotos/DipnixOWsAAIhX3 1.png" alt="">
          <p>Fabiola</p>
        </a>
        <a href="#">
          <img src="../../../../../assets/fotos/201803200952385397737 2.png" alt="">
          <p>Marcela</p>
        </a>
        <a href="#">
          <img src="../../../../../assets/fotos/EY1_3727-Edit 1.png" alt="">
          <p>Christina</p>
        </a>
        <a href="#">
          <img src="../../../../../assets/fotos/DipnixOWsAAIhX3 1.png" alt="">
          <p>Fabiola</p>
        </a>
        <a href="#">
          <img src="../../../../../assets/fotos/201803200952385397737 2.png" alt="">
           <p>Marcela</p>
        </a>
      </div> <!--end images-girls div-->

      <div class="parrafo-coleccion">
        <p>Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorep</p>
      </div> <!--end parrafo-coleccion div-->

    </article> <!--end container-colletion-img secction-->

  </section> <!-- end -- colletion-content  part 2 secction-->



  <section class="creadores-content">

    <article class="icon-creadores">

      <div class="title-icon-creadores">
        <h2>Sobre los Creadores</h2>
      </div> <!-- end --title-icon-creadores div-->

      <div class="icons-circle-creadores-orange">
        <a href="#">
          <div><img src="../../../../../assets/icono-logo/Squirt.svg" alt=""></div>
        </a>
        <a href="#">
          <div><img src="../../../../../assets/icono-logo/Capa_41.svg" alt=""></div>
        </a>
        <a href="#">
          <div><img src="../../../../../assets/icono-logo/Submission.svg" alt=""></div>
        </a>
        <a href="#">
          <div><img src="../../../../../assets/icono-logo/Rols_Play.svg" alt=""></div>
        </a>
      </div> <!-- end --icons-circle-creadores-orange div-->

    </article><!-- end --icon-creadores div-->


    <article class="mensajes-content-creadores">

     <div class="parrafo-mensajes-creadores">
       <p>Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorep</p>
      </div> <!-- end --parrafo-mensajes-creadores div-->

      <div class="icons-black-mensajes-creadores">
        <a href="#">
          <div><img src="../../../../../assets/icono-logo/User icon2.svg" alt=""></div>
        </a>
        <a href="#">
          <div><p>icon</p></div>
        </a>
        <a href="#">
          <div><p>icon</p></div>
        </a>
        <a href="#">
          <div><p>icon</p></div>
        </a>
      </div> <!-- end --icons-black-mensajes-creadores div-->
    </article>  <!-- end --mensajes-content-creadores article-->

    <article class="promodel-content">

      <div class="promodel-title-parrafo">
        <h2>Pro model</h2>
        <p>Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorem Ipsun Lorep</p>
      </div> <!-- end --promodel-title-parrafo div-->
      <div class="promodel-img">

        <div>
          <img src="../../../../../assets/fotos/LUST- 0-30.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- 36.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- 0-7.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- 0-22.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- 0-27.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- ML 01-2.png" alt="">
        </div>
        <div>
          <img src="../../../../../assets/fotos/LUST- ML 01-27.png" alt="">
        </div>

      </div> <!-- end --promodel-img div-->

    </article> <!-- end --mensajes-content-creadores article-->


  </section> <!-- end -- creadores-content  part 3 secction-->


</main>
