<footer>

 <div class="contacto-info">

  <h2>Contacto</h2>
  <div class="text-info">
 <p>Lorem ipsum Lorem ipsum LoremLorem ipsum Lorem ipsum LoremLorem ipsum Lorem ipsum LoremLorem ipsum Lorem Lorem ipsum Lorem  </p>
  </div>

</div>


 <div class="logo-icon-footer">
  <div class="icons">
    <img  src="../../../../../assets/icono-logo/Lust List Logo_Mesa de trabajo 1 copia 4 3.svg" alt="">
  </div>
  <div class="icons-circle">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="text-left">
    <p>Lorem ipsum Lorem ipsum Lorem</p>
  </div>
 </div>
</footer>
